<nav class="site-nav">
  <div class="nav-inner container">
    <a class="brand" href="{{ site.baseurl }}/">Farid Aliyev</a>
    <button id="nav-toggle" class="nav-toggle" aria-label="Toggle navigation">
      <span class="hamburger"></span>
    </button>
    <ul class="nav-links" id="nav-links">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
    </ul>
  </div>
</nav>
